body{
font-family:Poppins,sans-serif;
background:#f8fafc;
}

.container{
max-width:900px;
margin:auto;
padding:40px;
}

.progress-box{
background:white;
padding:25px;
border-radius:20px;
margin-bottom:30px;
}

.progress{
height:18px;
background:#e2e8f0;
border-radius:30px;
overflow:hidden;
}

#progressFill{
height:100%;
width:0%;
background:#14b8a6;
}

.checklist-card{
background:white;
padding:25px;
margin-bottom:25px;
border-radius:20px;
}

label{
display:block;
margin:15px 0;
font-size:18px;
}